
/* starting banner style */


.banner{
 margin: 120px 140px;
border: 16px;
border-radius: 16px;
background-image: url('../resources/Banner\ Image.png');
background: linear-gradient(180deg, #0000001c);

.first-heading{
text-align: center;
padding: 177px 531px 0px 530px;
height: 40px;
width: 249px;
}

.new-year{
    color: #FFF;
    text-align: center;
    font-family: merriweather;
    font-size: 32px;
font-weight: 400;
}
.second-heading{
    text-align: center;
    width: 632px;
    height: 190px;
    padding: 0px 344px 177px 344px;
}
.new-year-2{
    color: #fff;
    font-family: merriweather;
    font-size: 72px;
font-weight: 900;
line-height: 95px;
}

/* second section style */

}
.discount-head{
    text-align: center;
    padding: 0px 615px 0px 615px;  
    width: 383px;
    height: 107px;
    display: inline;
}
.discount-offer{
    color: #f00;
    text-align: center;
    font-family: merriweather;
    font-size: 88px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 48px;
    
}

.holiday-head{
    text-align: center;
    padding: 0px 630px 0px 610px;
    width: 400px;
    height: 30px;
}

.holiday{
    color:#f00;
    text-align: center;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;

}
.fifth-head{
    text-align: center;
    padding: 0px 630px 0px 610px;
    width: 410px;
    height: 58px;
    margin-top: 45px;

}

.category{
    color: #070211;
    text-align: center;
    font-family: inter;
    font-size: 48px;
    font-weight: 700;
}

.first-img{
    text-align: center;
    padding: 50px 400px 50px 400px;
}
.happy{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* starting third section */


.midnight{
    display: flex;
    margin: 120px 140px;
    height: 600px;
flex-shrink: 0;
border: 16px;
border-radius: 16px;
gap: 50px; 
background-image: url('../resources/Vectorrr.png');
}
.welcome{
padding-left: 126px;
padding-top: 126px;
width: 642px;

}
.sixth-heading{
    color: #FFF;
font-family: merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
}
.paragraph{
    width: 692px;
    padding-left: 126px;
}
.paragraph-details{
    color: #FFF;
    font-family: inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.join{
    width: 20px;
    height: 24px;
    padding: 20px 200px 100px 126px;
}
.button{
    color:#FFF;
    text-align: center;
    font-family: inter;
    font-size: 20px;
    font-weight: 700;

}
.second-img{
    width: 37.012px;
    height: 20.28px;
    flex-shrink: 0;
    padding: 68.11px 138px 187.23px 0;
}

/* starting fourth section */

.git{
    margin-bottom: 120px;
    fill: linen;
}
.information{
    margin: 120px 140px;
    display: block;
    text-align: center;
   padding-top: 100px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}
#first{
font-family: inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}
.head{
    color: #f00;
}
.second-button{
    padding: 16px 32px;
    text-align: center;
    font-family: inter;
    font-weight: 700;
    color: #FFF;
    background-color: #f00;
    border: none;
}
.btn{
   width:auto, 156px;
   height: auto, 67px;
   display: inline-flex;
   padding: 16px 32px;
   gap: 10px;
   border-radius: 8px;
   background: #f00;
}

/* starting fifth section */

.upcoming{
    margin: 120px 140px;
display: flex;

background-color: #FFF;
}

.upcoming-one{
padding: 100px 40px 100px 50px;
gap: 100px;
}

.upcoming-photo{
padding: 0px 20px;
}

.upcoming-year{
    padding: 90px 40px 100px 50px;
    gap: 100px;
}


/* starting sixth section */

.holidays-offer{
    display:block ;
    margin: 120px 140px;
    background-image: url('../resources/Rectangle\ 1.png'), url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position:  right, bottom;
    
}
.holiday{
    text-align: center;
    padding: 100px 260px 50px 260px;
}
.holiday h3{
    
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday h1{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;

}
#span{
    color: #070211;
}
.holiday p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
}
.circle{
    width: 100px;
    padding: 200px 300px 100px 800px;
}

.box{
    width: 400px;
    padding: 100px 0px 0px 10px;
}



/* starting seventh section */
.seventh-section{
    margin: 120px 140px;
}
.sixth-section{
    margin: 120px 140px;
    text-align: left;
}
.photo{
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
}

#best-offer{
    color: #f00;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
   
}

#awesome-portfolio{
    color: #070211;
    font-family: merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 5px 450px 10px 5px;
    margin-bottom: 22px;
    margin-top: 16px;

}

#paragraph-details-2{
    color: rgba(7, 2, 0.60);
    font-size: 20px;
    margin-bottom: 48px;
    margin-top: 0px;
    
}

/* starting eighth section */

.contact-info{
    text-align: center;
    margin: 120px 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    
}
.email-photo{
   padding: 50px 300px 0px 300px;
   


}

.newsletter{
    padding: 0px 200px 0px 200px;
    text-align: center;
    font-family: merriweather;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 40px;
    margin-bottom: 22px;
}

.subscribe-paragraph{
    padding: 0px 212px 0px 212px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}

.input{
    padding: 0px 336px 0px 336px;
    flex-shrink: 0;
    
}

.large-input{

    padding: 25px 477px 25px 30px;
    border-radius: 50px;
    background: #fff;
    margin-bottom: 80px;
    margin-top: 48px;
}
.small-input{
   color: #f00;

font-family: Inter;
font-size: 20px;
font-weight: 600;
    padding: 0px 0px 0px 0px;
    margin-left: -120px;
    }

    /* starting footer section  */

.main-div{
    width:  fixed 1600px;
    height: fixed 609px;
    display: flex;
    background-color: #070211;
}

.main-one{
    
    display: block;
   
    
}

.main-second-one{
    color: #FFF;
font-family: Inter;
font-size: 24px;
/* font-weight: 500;
line-height: 40px; 166.667% */
padding: 100PX 50px 50px 50px;

}
.main-second-two{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding: 700PX 50PX 50PX 50PX;





}
.main-two{
    display: flex;
    padding: 400px 400px;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: space-around;
}

.icon{
    text-align: center;
    
}

.main-div-2{
    display: block;
    padding: 0px;
}
.main-three{
    display: flex;
    color: #FFF;
font-family: Inter;
font-size: 24px;
padding: 100PX 100px 0px 0px;

font-weight: 500;
line-height: 40px; /* 166.667% */
   
}
.main-four{
    display: flex;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.main-five{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   
    width: fixed 145px;
    height: fixed 29px;
    
}